<form action="form-online">
  <div class="form-group mb-2">
    <div class="form-inline mr-auto">
      <input type="text" class="form-control mr-2" placeholder="search">
      <button class="btn btn-outline-sucess"> search </button>  
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr> 
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
  </tbody>
</table>