<h2> Management Users </h2>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
          <td>{{ user.email }}</td>
          <td>{{ user.admin }}  </td>
          <td *ngIf="!user.admin"> <button class="btn btn-sm btn-primary btn-block" (click)="turnAdminOn(user)">admin on</button> </td>
          <td *ngIf="user.admin"> <button class="btn btn-sm btn-info btn-block" (click)="turnAdminOff(user)">admin off</button> </td>
          <td> <button class="btn btn-sm btn-danger btn-block" (click)="remove(user)">Remove</button> </td>
    </tr> 
  </tbody>
</table>